<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<title>Permiso no autorizado</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    	<link rel="stylesheet" href="assets/css/style.css">
	</head>
	
	<body>

		<nav class="nav-login">
      		<h1>Dirección de Informática</h1>
    	</nav>

    	<div class="contenedor">

    		<h2>Para ingresar al sistema necesita iniciar sesión</h2>
    		<a class="btn-Marcar" href='?controller=Login&action=mostrarFormulario'>Volver al inicio</a>
    		
    	</div>

	</body>
</html>